In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [31]:
df = pd.read_csv("./data/titanic.csv")
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [36]:
le['Sex'].inverse_transform(1)

'male'

In [2]:
df = pd.read_csv("./data/titanic.csv")
predictors = ['Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
label = 'Survived'
cabin_fillna = 'NA'
df.Cabin = df.Cabin.fillna(cabin_fillna)

df_train, df_test, y_train, y_test = train_test_split(df[predictors], df[label], test_size=0.20, random_state=42)

In [3]:
age_fillna = df_train.Age.mean()
embarked_fillna = df_train.Embarked.value_counts().index[0]


df_train.Age = df_train.Age.fillna(df.Age.mean())
df_train.Embarked = df_train.Embarked.fillna(embarked_fillna)

df_test.Age = df_test.Age.fillna(df.Age.mean())
df_test.Embarked = df_test.Embarked.fillna(embarked_fillna)

In [4]:
le = dict()
for column in df_train.columns:
    if df_train[column].dtype == np.object:
        le[column] = LabelEncoder()
        df_train[column] = le[column].fit_transform(df_train[column])
        
for column in df_test.columns:
    if df_test[column].dtype == np.object:
        df_test[column] = le[column].transform(df_test[column])

In [5]:
model = RandomForestClassifier(n_estimators=25, random_state=42)
model.fit(X=df_train, y=y_train)
# y_pred = model.predict(X=df_test)
# print(confusion_matrix(y_test, y_pred))
# print(f1_score(y_test, y_pred))
from sklearn.externals import joblib
joblib.dump(model, './model/model.pkl')

['./model/model.pkl']

In [9]:
df_test.head()

     Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
709       3    1  29.699118      1      1  15.2458         0
439       2    1  31.000000      0      0  10.5000         2
840       3    1  20.000000      0      0   7.9250         2
720       2    0   6.000000      0      1  33.0000         2
39        3    0  14.000000      1      0  11.2417         0

In [29]:
predict_request = [3, 0, 6.0, 0, 1, 33.0, 2]
predict_request = np.array(predict_request).reshape(1, -1)
model.predict_proba(predict_request)[0][1]

0.47999999999999998

In [10]:
y_test.head()

709    1
439    0
840    0
720    1
39     1
Name: Survived, dtype: int64

In [19]:
y_pred_prob = model.predict_proba(df_test)
y_pred_prob

array([[ 0.56      ,  0.44      ],
       [ 0.96      ,  0.04      ],
       [ 0.91333333,  0.08666667],
       [ 0.        ,  1.        ],
       [ 0.64      ,  0.36      ],
       [ 0.08      ,  0.92      ],
       [ 0.17735498,  0.82264502],
       [ 0.93333333,  0.06666667],
       [ 0.24      ,  0.76      ],
       [ 0.04      ,  0.96      ],
       [ 0.72      ,  0.28      ],
       [ 0.92      ,  0.08      ],
       [ 0.96      ,  0.04      ],
       [ 1.        ,  0.        ],
       [ 0.82866667,  0.17133333],
       [ 0.        ,  1.        ],
       [ 0.88      ,  0.12      ],
       [ 0.05142857,  0.94857143],
       [ 0.92      ,  0.08      ],
       [ 0.88      ,  0.12      ],
       [ 1.        ,  0.        ],
       [ 0.57333333,  0.42666667],
       [ 0.76      ,  0.24      ],
       [ 1.        ,  0.        ],
       [ 1.        ,  0.        ],
       [ 0.96      ,  0.04      ],
       [ 0.76      ,  0.24      ],
       [ 0.952     ,  0.048     ],
       [ 0.88      ,  0.12      ],
       [ 0.48      ,  0.52      ],
       [ 1.        ,  0.        ],
       [ 0.28      ,  0.72      ],
       [ 0.28      ,  0.72      ],
       [ 0.48      ,  0.52      ],
       [ 0.76666667,  0.23333333],
       [ 0.68      ,  0.32      ],
       [ 0.48      ,  0.52      ],
       [ 0.17735498,  0.82264502],
       [ 0.2       ,  0.8       ],
       [ 1.        ,  0.        ],
       [ 1.        ,  0.        ],
       [ 0.84      ,  0.16      ],
       [ 1.        ,  0.        ],
       [ 0.87357687,  0.12642313],
       [ 0.6       ,  0.4       ],
       [ 0.84      ,  0.16      ],
       [ 0.58      ,  0.42      ],
       [ 1.        ,  0.        ],
       [ 0.76      ,  0.24      ],
       [ 0.64      ,  0.36      ],
       [ 0.16      ,  0.84      ],
       [ 0.08      ,  0.92      ],
       [ 1.        ,  0.        ],
       [ 0.2       ,  0.8       ],
       [ 0.96      ,  0.04      ],
       [ 0.        ,  1.        ],
       [ 0.82      ,  0.18      ],
       [ 0.04      ,  0.96      ],
       [ 0.        ,  1.        ],
       [ 0.92      ,  0.08      ],
       [ 0.72      ,  0.28      ],
       [ 0.        ,  1.        ],
       [ 0.12      ,  0.88      ],
       [ 0.92      ,  0.08      ],
       [ 0.87357687,  0.12642313],
       [ 0.        ,  1.        ],
       [ 0.88      ,  0.12      ],
       [ 0.84      ,  0.16      ],
       [ 0.72      ,  0.28      ],
       [ 0.        ,  1.        ],
       [ 0.        ,  1.        ],
       [ 0.12      ,  0.88      ],
       [ 0.24      ,  0.76      ],
       [ 0.        ,  1.        ],
       [ 1.        ,  0.        ],
       [ 0.96      ,  0.04      ],
       [ 0.17735498,  0.82264502],
       [ 0.        ,  1.        ],
       [ 0.        ,  1.        ],
       [ 0.48      ,  0.52      ],
       [ 1.        ,  0.        ],
       [ 0.        ,  1.        ],
       [ 0.        ,  1.        ],
       [ 0.99      ,  0.01      ],
       [ 0.44      ,  0.56      ],
       [ 0.48      ,  0.52      ],
       [ 0.        ,  1.        ],
       [ 0.04      ,  0.96      ],
       [ 0.88      ,  0.12      ],
       [ 1.        ,  0.        ],
       [ 0.36      ,  0.64      ],
       [ 0.96      ,  0.04      ],
       [ 0.96      ,  0.04      ],
       [ 0.99      ,  0.01      ],
       [ 1.        ,  0.        ],
       [ 0.88      ,  0.12      ],
       [ 0.92      ,  0.08      ],
       [ 0.92      ,  0.08      ],
       [ 0.        ,  1.        ],
       [ 0.4       ,  0.6       ],
       [ 0.88      ,  0.12      ],
       [ 1.        ,  0.        ],
       [ 0.04      ,  0.96      ],
       [ 1.        ,  0.        ],
       [ 1.        ,  0.        ],
       [ 0.36      ,  0.64      ],
       [ 0.        ,  1.        ],
       [ 0.92      ,  0.08      ],
       [ 0.92      ,  0.08      ],
       [ 0.56      ,  0.44      ],
       [ 0.        ,  1.        ],
       [ 0.96      ,  0.04      ],
       [ 0.04      ,  0.96      ],
       [ 0.12      ,  0.88      ],
       [ 0.80666667,  0.19333333],
       [ 1.        ,  0.        ],
       [ 0.44      ,  0.56      ],
       [ 0.532     ,  0.468     ],
       [ 0.        ,  1.        ],
       [ 0.88      ,  0.12      ],
       [ 0.76      ,  0.24      ],
       [ 0.        ,  1.        ],
       [ 0.        ,  1.        ],
       [ 0.36      ,  0.64      ],
       [ 0.92      ,  0.08      ],
       [ 0.8       ,  0.2       ],
       [ 0.        ,  1.        ],
       [ 0.48      ,  0.52      ],
       [ 0.64      ,  0.36      ],
       [ 1.        ,  0.        ],
       [ 0.01142857,  0.98857143],
       [ 0.56      ,  0.44      ],
       [ 1.        ,  0.        ],
       [ 0.24      ,  0.76      ],
       [ 0.32      ,  0.68      ],
       [ 0.84      ,  0.16      ],
       [ 0.        ,  1.        ],
       [ 0.62133333,  0.37866667],
       [ 0.96      ,  0.04      ],
       [ 0.76      ,  0.24      ],
       [ 1.        ,  0.        ],
       [ 0.04      ,  0.96      ],
       [ 0.88      ,  0.12      ],
       [ 1.        ,  0.        ],
       [ 0.76      ,  0.24      ],
       [ 0.        ,  1.        ],
       [ 1.        ,  0.        ],
       [ 0.28      ,  0.72      ],
       [ 0.2       ,  0.8       ],
       [ 0.88      ,  0.12      ],
       [ 0.93047619,  0.06952381],
       [ 0.84      ,  0.16      ],
       [ 0.76      ,  0.24      ],
       [ 0.32      ,  0.68      ],
       [ 1.        ,  0.        ],
       [ 0.96      ,  0.04      ],
       [ 0.50333333,  0.49666667],
       [ 0.15449784,  0.84550216],
       [ 0.04      ,  0.96      ],
       [ 0.08      ,  0.92      ],
       [ 0.88      ,  0.12      ],
       [ 0.8       ,  0.2       ],
       [ 0.81666667,  0.18333333],
       [ 0.04      ,  0.96      ],
       [ 0.90464646,  0.09535354],
       [ 0.64      ,  0.36      ],
       [ 1.        ,  0.        ],
       [ 0.        ,  1.        ],
       [ 1.        ,  0.        ],
       [ 1.        ,  0.        ],
       [ 0.8       ,  0.2       ],
       [ 0.08133333,  0.91866667],
       [ 0.12      ,  0.88      ],
       [ 0.48      ,  0.52      ],
       [ 0.93333333,  0.06666667],
       [ 1.        ,  0.        ],
       [ 0.96      ,  0.04      ],
       [ 0.        ,  1.        ],
       [ 0.16      ,  0.84      ]])

In [15]:
y_pred = model.predict(df_test)
y_pred[:10]

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 1], dtype=int64)